<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAb2l2QnyQU6sHYgX7w-0RPyNHEHaN3oBE</string>
	<key>GCM_SENDER_ID</key>
	<string>843105690725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.babyHub.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>babyhub-182c2</string>
	<key>STORAGE_BUCKET</key>
	<string>babyhub-182c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843105690725:ios:5a5b53cc0ff92d3a56528c</string>
</dict>
</plist>